@{
    ViewBag.Title = "Log In System";
}

<form class="form-horizontal">
    <div class="">
        <input type="email" name="Email" />
    </div>
    <div class="">
        <input type="password" name="Password" />
    </div>
    <div class="">
        <button class="btn btn-primary">Log In</button>
    </div>
</form>